@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: Amuse;
  src: url('/fonts/Amuse-Bouche.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: MavenPro;
  src: url('../fonts/MavenPro-Regular.woff') format('woff');
  font-display: swap;
}

body {
  background-position: center;
  background-repeat: no-repeat;

  background-color: #0A0F16;
  height: 96vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

html,
body {
  overflow-y: hidden;
  overflow-x: hidden;
  overflow-y: none;
  overflow-x: none;

}

button {
  outline: none;
  box-shadow: none;
  border: none;
}

button:focus {
  outline: 0 !important;
}

iframe {
  overflow: hidden;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.title {
  text-rendering: optimizeLegibility;
  font-family: Amuse;
  padding-bottom: 30px;
  position: relative;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 8vw;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.container {
  position: relative;
  display: block;
  display: flex;
  flex-direction: row;
}

.container .pfp img {
  width: 80px;
  height: 80px;

  border: 2px solid rgb(136, 0, 255);
  border-radius: 40px;
}

.container .txt {
  color: #fff;
  font-family: 'MavenPro';
  font-weight: 500;

  -webkit-font-smoothing: antialiased;
  font-size: 1.2vw;
  padding-left: 30px;

}

.project {
  margin-top: 40px;
  position: relative;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 30px;
  width: 360px;
  height: 110px;
  background-color: #0C141D;
  transition: transform 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px
}

.project:hover {
  cursor: pointer;
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.project .picture img {
  width: 55px;
  height: 55px;

  border-radius: 40px;
  margin-left: 30px;
  background-color: ghostwhite;
}

.project .txtInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.project .title {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 600;

  -webkit-font-smoothing: antialiased;
  font-size: 26px;
  padding-left: 20px;
  margin-bottom: -28px;
}

.project .txt {
  color: rgb(182, 182, 182);
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  padding-left: 20px;
}


.Headersocials {
  position: relative;
  display: flex;
  grid-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;

}

.Headersocials img {
  width: 40px;
  transition: transform 0.15s ease-in-out;
}

.Headersocials img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#main-loading-overlay {
  cursor: default !important;
  overflow: hidden;
  z-index: 100000000;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  visibility: visible;
  opacity: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: #0A0F16;
}

.loading-spinner {
  animation: spinner 1.5s infinite linear;

}

.spinner-content {
  text-align: center;
  color: #dadada;
}

.spinner-content img {
  width: 150px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: #0c141d;
  color: white;
  text-align: center;
  transition: height .7s;
  animation: fadeInUp;
  animation-duration: .2s;
}

.footer:hover {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100%;
  color: white;
  text-align: center;
  animation: fadeInUp;
  animation-duration: .2s;
}

.footerContent {
  font-size: 25px;
  font-family: MavenPro;
  color: white;
  margin: 12px;
}

.spotify {
  margin-top: -20px;
  display: flex;
  align-content: center;
  justify-content: center;

}

.spotify .txt {
  color: white;
  font-family: 'MavenPro';
  font-size: 22px;
}

.spotify img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-right: 14px;
}

.icon {
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
  margin-top: 30px;
  margin-left: 20px;
}

span {
  width: 3px;
  height: 100%;
  background-color: rgb(0, 255, 68);
  border-radius: 3px;
  transform-origin: bottom;
  animation: bounce 2.2s ease infinite alternate;
  content: '';
}

span:nth-of-type(2) {
  animation-delay: -2.2s;
}

span:nth-of-type(3) {
  animation-delay: -2.2s;
}

.chaotic-orbit {
  --uib-size: 34px;
  --uib-speed: 1.5s;
  --uib-color: rgb(255, 255, 255);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: rotate calc(var(--uib-speed) * 1.667) infinite linear;
}

.chaotic-orbit::before,
.chaotic-orbit::after {
  content: '';
  position: absolute;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
  flex-shrink: 0;
}

.chaotic-orbit::before {
  animation: orbit var(--uib-speed) linear infinite;
}

.chaotic-orbit::after {
  animation: orbit var(--uib-speed) linear calc(var(--uib-speed) / -2)
    infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes orbit {
  0% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }
  5% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208);
    opacity: 0.58;
  }
  10% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576);
    opacity: 0.51;
  }
  15% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944);
    opacity: 0.44;
  }
  20% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312);
    opacity: 0.37;
  }
  25% {
    transform: translate(0%) scale(0.47368);
    opacity: 0.3;
  }
  30% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312);
    opacity: 0.37;
  }
  35% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944);
    opacity: 0.44;
  }
  40% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576);
    opacity: 0.51;
  }
  45% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208);
    opacity: 0.58;
  }
  50% {
    transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684);
    opacity: 0.65;
  }
  55% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472);
    opacity: 0.72;
  }
  60% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104);
    opacity: 0.79;
  }
  65% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736);
    opacity: 0.86;
  }
  70% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368);
    opacity: 0.93;
  }
  75% {
    transform: translate(0%) scale(1);
    opacity: 1;
  }
  80% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368);
    opacity: 0.93;
  }
  85% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736);
    opacity: 0.86;
  }
  90% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104);
    opacity: 0.79;
  }
  95% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472);
    opacity: 0.72;
  }
  100% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }
}



@keyframes grow {

  0%,
  100% {
    transform: scale(1.5);
  }

  20%,
  70% {
    transform: none;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

@keyframes sky {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}




@media screen and (max-width: 1000px) {
  .site-header {
    visibility: hidden;
  }

  .image {
    visibility: visible;
  }

  .logo-near-text {
    visibility: hidden;
  }

  .container .pfp img {
    margin-top: 4px;
    width: 60px;
    height: 60px;
  }

  .container .txt {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    padding-left: 18px;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 50px;
  }

  .spotify .txt {
    margin-top: 24px;
    font-size: 18px;
  }

  .spotify img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  .icon {
    margin-left: 10px;
  }

  .project  {
    width: 330px;
    height: 100px;
  }

  .project .title {
    font-size: 22px;
  }
  
  .project .txt {
    color: rgb(182, 182, 182);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    padding-left: 20px;
  }
}